.button {
  font-size: 17px;
  padding: 4px 10px;
  border: transparent;
  border: 1px solid rgba(97, 97, 97, 0.425);
  background: rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 0px;
  transition: .2s ease;
}

.button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(53, 145, 236) 0%, rgb(29, 205, 236) 100%);
  color: white;
  border: 1px solid rgba(97, 97, 97, 0);
}