.block{
  display: flex;
}
.input{
  width: auto;
  border: 1px solid #d3d9de;
  border-radius: 6px;
  padding: 7px 12px 9px;
  font-size: 13px;
  cursor: pointer;
  margin: 4px 0px;
  min-width: 100px;
  box-sizing: border-box;
  outline: none;
  transition: .4s ease;
}
.input:hover,
.input:active,
.input:focus{
  border: 1px solid #b6bfc7;
}
.btn{
  width: auto;
}