.block {
  display: flex;
}

.input {
  width: auto;
  border: 1px solid #d3d9de;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  min-width: 50px;
  box-sizing: border-box;
  outline: none;
  transition: .4s ease;
}

input[type=color] {
  padding: 0px;
  border: 0px;
  height: 30px;
}

.input:hover,
.input:active,
.input:focus {
  border: 1px solid #b6bfc7;
}

.btn {
  width: auto;
}