.block {
    display: flex;
    flex-direction: column;
}

.input {
    width: auto;
    border: 1px solid #d3d9de;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    min-width: 40px;
    height: 20px;
    padding: 0px 5px;
    box-sizing: border-box;
    outline: none;
    transition: .4s ease;
}
.input:hover,
.input:active,
.input:focus {
    border: 1px solid #b6bfc7;
}
.settings_block{
    margin: 0px 0px 15px;
    width: auto;
    display: flex;
    flex-direction: column;
}